*{
    margin: 0;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#head{
    margin: 0 auto;
    width: 1585px;
}
nav{
    width: 90%;
    max-width:auto;
    height: 100px auto;
    margin: 0 auto;
    padding: 16px 28px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-manu{
    list-style: none;
    display: flex;
    gap: 10px;
    
}
.nav-manu a{
    text-decoration: none;
}
.about{
    width: 90%;
    max-width: 1280px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(60, 145, 105, 0.377);
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
}
.about-text h2{
    max-width: 622px;
    margin-bottom: 20px;
    font-size: 2.65em;
}
.about-text p{
    color: #474747;
    font-weight: 400;
    font-size: 1.25em;
 
}
.btn{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 106, 80, 1);
    font-size: 1.55em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}